<div class="headerContainer"> 
    <div class="icon" [ngStyle] = "{'border': (navBar) ? '2px dotted grey' : 'none'}" (click)="toggleSideNav()"><fa-icon class="iconClass" [icon]="faBar"></fa-icon></div> 
    <div class="home">
         <img src="../../assets/logo.png"> &nbsp;<span>Cloud</span>
     </div>    
     <div class="searchBar">
         <input type="text" class="searchinput" placeholder="Search for resources, services and documentation">
     </div>   
    <div class="region">US West Virginia</div> 
    <div class="logout">Logout</div>
<div>
