.navContainer{
    display: flex;
}
.subGroup{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.subGroupHeading{
    font-size: small;
    padding: 5%;
    color: darkgrey;
}


.subGroupDiv{
    font-size: medium;
    
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.subGroupItems{
    padding: 4%;
    font-size: 15px;
}

div.subGroupItems.parent:hover{
    border-left: 3px solid #3ac5a6;
    background-color: #364050;
    cursor: pointer;
}
div.subGroupItems.child:hover{
    background-color: #364050;
    cursor: pointer;
}

.iconClass{
    float: right;
}
.itemSelected{
    border-left: 3px solid #3ac5a6;
}